In [40]:
import pandas as pd
import numpy as np

car_speed = pd.Series(data=['220KMH','120KMH','60KMH','100KMH'],index=['Honda Civics','Honda 125','Riksha','Zxmco'])
car_speed

Honda Civics    220KMH
Honda 125       120KMH
Riksha           60KMH
Zxmco           100KMH
dtype: object

In [41]:
# We print the index and data of Groceries
print('The data in car_speed is:', car_speed.values)
print('The index of car_speed is:', car_speed.index)

The data in car_speed is: ['220KMH' '120KMH' '60KMH' '100KMH']
The index of car_speed is: Index(['Honda Civics', 'Honda 125', 'Riksha', 'Zxmco'], dtype='object')

In [42]:
print('car_speed has shape:', car_speed.shape)
print('car_speed has dimension:', car_speed.ndim)
print('car_speed has a total of', car_speed.size, 'elements')

car_speed has shape: (4,)
car_speed has dimension: 1
car_speed has a total of 4 elements

#### If we have a large dataset and we are unable to know whether a label or value exists we can use the member operator `is` and `is not`

In [43]:
# We can also check whether a value exist in a pandas series or not.
'Honda Civics' in car_speed, 'Honda' in car_speed

(True, False)

In [44]:
# Accesing data and index of it can be accessed using items() method just like we do with python dictionary

for data,value in car_speed.items():
    print(data,value)

Honda Civics 220KMH
Honda 125 120KMH
Riksha 60KMH
Zxmco 100KMH

<h3 style='color:Orange;'>Accessing panda's values and changing, removing it</h3>

In [45]:
grocerries = pd.Series(data=[30,6,'Yes','No'],index=['eggs','apples','milk','bread'])
grocerries

eggs       30
apples      6
milk      Yes
bread      No
dtype: object

In [46]:
# Accesing elements by it's name index
grocerries['eggs']

30

In [47]:
# Accesing elements by it's integer index
grocerries[0]

30

In [48]:
# Accessing multiple values by integer indexing
grocerries[[0,1,3]]

eggs      30
apples     6
bread     No
dtype: object

In [49]:
# Now to mitigate the confusion of names and integer indexing we have two method 'iloc' and 'loc' stands for 'integer location'.
grocerries.iloc[[1,2,3]]

apples      6
milk      Yes
bread      No
dtype: object

In [50]:
# Accessing location of an array by name unlike accessing by index
grocerries.loc[['eggs','apples','bread']]

eggs      30
apples     6
bread     No
dtype: object

In [51]:
# Removing value of series permanently and temporarily
grocerries.drop('eggs')

apples      6
milk      Yes
bread      No
dtype: object

In [52]:
# Now if we can see the eggs item didn't drop permanently to do so we need another parameter to put in drop method.
grocerries

eggs       30
apples      6
milk      Yes
bread      No
dtype: object

In [53]:
# Removing eggs permanently from series
grocerries.drop(labels='eggs',inplace=True)
grocerries

apples      6
milk      Yes
bread      No
dtype: object

<h3 style='color:darkred;'>Arithmetic Operations on Pandas Series</h3>

In [54]:
fruits = pd.Series(data=[10,6,3],index=['apples','orange','bananas'],dtype=int)
fruits

apples     10
orange      6
bananas     3
dtype: int32

In [55]:
# Double all the fruits in series
fruits *2

apples     20
orange     12
bananas     6
dtype: int32

In [56]:
# Double only the apples in Series permanently
fruits['apples'] = fruits['apples']*2
fruits

apples     20
orange      6
bananas     3
dtype: int32

In [57]:
# We can perform all arithematic operations on the values (+ , - , / , * , ** )
fruits[1]**2  ,fruits[1]/3 , fruits['apples'] - 30

(36, 2.0, -10)

### Using numpy on Pandas series

In [58]:
fruits

apples     20
orange      6
bananas     3
dtype: int32

In [59]:
np.sum(fruits)

29

In [60]:
np.mean(fruits)

9.666666666666666

In [61]:
np.sqrt(fruits['apples'])

4.47213595499958

In [62]:
np.power(fruits['orange'],3) # 6**3 = 216

216

### Create a pandas series the contain multiple types of data

In [64]:
df.insert(0,'apple',[3,4,5])
df

   apple     a     b     d     c
0      3  67.0  68.0  44.0   NaN
1      4  97.0  50.0   NaN  69.0
2      5   NaN   NaN  70.0  60.0

In [65]:
mul_types = pd.Series(data=[2,4,'Camel'],index=['Eyes','Feets','Name'])
mul_types

Eyes         2
Feets        4
Name     Camel
dtype: object

In [66]:
# Now only double the integers inside mul_types Series
# Now if we simply do the following it will concatenate the string no of times as you have multiply
mul_types*2

Eyes              4
Feets             8
Name     CamelCamel
dtype: object

In [67]:
# Resolving the above issue of concatenation of non-integer value
mul_types

Eyes         2
Feets        4
Name     Camel
dtype: object

In [68]:
mul_types['Eyes']

2

In [69]:
# We can look only for int types of data and take only of the int data
for index in mul_types.index:
    if type(mul_types[index]) == int:
        mul_types[index] = mul_types[index]**2
    
mul_types

Eyes         4
Feets       16
Name     Camel
dtype: object

### Minor quiz of pandas series

In [126]:
import pandas as pd

# DO NOT CHANGE THE VARIABLE NAMES

# Given a list representing a few planets
planets = ['Earth', 'Saturn', 'Venus', 'Mars', 'Jupiter']

# Given another list representing the distance of each of these planets from the Sun
# The distance from the Sun is in units of 10^6 km
distance_from_sun = [149.6, 1433.5, 108.2, 227.9, 778.6]


# TO DO: Create a Pandas Series "dist_planets" using the lists above, representing the distance of the planet from the Sun.
# Use the `distance_from_sun` as your data, and `planets` as your index.
dist_planets = pd.Series(data=distance_from_sun,index=planets)


# TO DO: Calculate the time (minutes) it takes light from the Sun to reach each planet. 
# You can do this by dividing each planet's distance from the Sun by the speed of light.
# Use the speed of light, c = 18, since light travels 18 x 10^6 km/minute.

# time_light = [distance/c for distance in dist_planets]
time_light = dist_planets/18


# # TO DO: Use Boolean indexing to select only those planets for which sunlight takes less
# # than 40 minutes to reach them.

# list(filter(lambda x:x<40.0,time_light))

# # We'll check your work by printing out these close planets.
close_planets = [time_light<40]
close_planets

[Earth       True
 Saturn     False
 Venus       True
 Mars        True
 Jupiter    False
 dtype: bool]